<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oobest.imagepreviewlibrary">

    <application>
        <activity android:name=".ImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_preview"
            android:theme="@style/FullscreenTheme"/>
    </application>
</manifest>
